<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion" connectionString="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0ARABFAFMASwBUAE8AUAAtAFIAQQBJADgAOABFADAAXABTAFEATABFAFgAUABSAEUAUwBTAF8AMgAwADEAMgA7AEkAbgBpAHQAaQBhAGwAIABDAGEAdABhAGwAbwBnAD0ATwB3AG4AZQByADsAVQBzAGUAcgAgAEkARAA9AHMAYQA7AFAAYQBzAHMAdwBvAHIAZAA9AGUAdgBvAGwAdQB0AGkAbwBuAHMA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup-->
<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>